{include file="header.html"}
<div id="main">
  {include file="menus.html"}
  <div id="rightCon" class="clearfix layui-body">
    <div class="scroller">
      <div class="flexigrid">
        <form method="post" enctype="multipart/form-data">
          <table class="infoTable">
            <tr>
              <th class="paddingT15"><label>{$lang.brand_name}</label></th>
              <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" id="brand_name" type="text"
                  name="brand_name" value="{$brand.brand_name|escape}" />
                <label class="field_notice">{$lang.brand_name}</label>
              </td>
            </tr>
            <tr>
              <th class="paddingT15"><label>{$lang.letter}</label></th>
              <td class="paddingT15 wordSpacing5">
                <input class="infoTableInput2" id="letter" type="text" name="letter" value="{$brand.letter|escape}" />
                <label class="field_notice">{$lang.letter_desc}</label>
              </td>
            </tr>
            <tr>
              <th class="paddingT15"><label>{$lang.belong_category}</label></th>
              <td class="paddingT15 wordSpacing5">
                <div id="gcategory">
                  <select name="cate_id">
                    <option>{$lang.select_pls}</option>
                    {html_options options=$gcategories selected=$brand.cate_id}
                  </select>
                </div>
              </td>
            </tr>
            <tr>
              <th class="paddingT15"><label>{$lang.tag}</label></th>
              <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" id="tag" type="text" name="tag"
                  value="{$brand.tag|escape}" />
                <label class="field_notice">{$lang.tag}</label>
              </td>
            </tr>
            <tr>
              <th class="paddingT15"><label>{$lang.brand_logo}</label></th>
              <td class="paddingT15 wordSpacing5 webkit-box">
                <div class="input-file-show">
                    <input class="type-file-file" onchange="getTempPathcallback(this)" name="brand_logo" type="file" size="30" hidefocus="true">
                    <input type="hidden" name="fileVal" value="brand_logo" />
                    <div class="type-file-image">
                      <!--{if $brand.brand_logo}-->
                      <img class="block" src="{$brand.brand_logo|url_format}" width="100" height="100" />
                      <span>修改图片</span>
                      <!--{else}-->
                      <i class="iconfont icon-icon_pic"></i>
                      <!--{/if}-->
                    </div>
                </div>
                <label class="field_notice inline-block box-align-center ml20" style="width: 120px;">建议尺寸150像素*60像素</label>
              </td>
            </tr>
            <tr>
              <th class="paddingT15"><label>{$lang.brand_image}</label></th>
              <td class="paddingT15 wordSpacing5 webkit-box">
                <div class="input-file-show">
                    <input class="type-file-file" onchange="getTempPathcallback(this)" name="brand_image" type="file" size="30" hidefocus="true">
                    <input type="hidden" name="fileValBig" value="brand_image" />
                    <div class="type-file-image">
                      <!--{if $brand.brand_image}-->
                      <img class="block" src="{$brand.brand_image|url_format}" width="100" height="100" />
                      <span>修改图片</span>
                      <!--{else}-->
                      <i class="iconfont icon-icon_pic"></i>
                      <!--{/if}-->
                    </div>
                </div>
                <label class="field_notice inline-block box-align-center ml20" style="width: 120px;">建议尺寸280像素*280像素</label>
              </td>
            </tr>
            <tr>
              <th class="paddingT15"><label>{$lang.description}</label></th>
              <td class="paddingT15 wordSpacing5">
                <textarea name="description">{$brand.description}</textarea>
              </td>
            </tr>
            <tr>
              <th class="paddingT15"><label>{$lang.recommended}</label></th>
              <td class="paddingT15 layui-form">
                <input type="radio" name="recommended" value="1" title="{$lang.yes}" {if $brand.recommended eq
                  1}checked{/if} />
                <input type="radio" name="recommended" value="0" title="{$lang.no}" {if
                  !$brand.recommended}checked{/if} />
              </td>
            </tr>
            <tr>
              <th class="paddingT15"><label>{$lang.if_show}</label></th>
              <td class="paddingT15 layui-form">
                <input type="radio" name="if_show" value="1" title="{$lang.yes}" {if $brand.if_show}checked{/if} />
                <input type="radio" name="if_show" value="0" title="{$lang.no}" {if !$brand.if_show}checked{/if} />
              </td>
            </tr>
            <tr>
              <th class="paddingT15"><label>{$lang.sort_order}</label></th>
              <td class="paddingT15 wordSpacing5"><input class="sort_order" type="text" name="sort_order"
                  value="{$brand.sort_order}" />
              </td>
            </tr>
            <tr>
              <th></th>
              <td class="ptb20"><input class="layui-btn layui-bg-blue J_AjaxSubmit" type="submit"
                  value="{$lang.submit}" /></td>
            </tr>
          </table>
        </form>
      </div>
      {include file="version.html"}
    </div>
  </div>
</div>
{include file="footer.html"}