{include file="header.html"}
<div id="main">
  {include file="menus.html"}
  <div id="rightCon" class="clearfix layui-body">
    <div class="scroller">
      <div class="explanation" id="explanation">
        <div class="title" id="checkZoom"> <i class="fa fa-lightbulb-o"></i>
          <h4>{$lang.operation_tip}</h4>
        </div>
        <ul>
          <li>1. MemCache是基于内存的，作为缓存使用可以有效提高页面访问速度，但如果缓存的数据量大不建议使用</li>
          <li>2. 在开启MemCache缓存之前，请确保在服务端已经安装了MemCache服务，否则会造成页面无法访问，请开放11211端口（默认）及设置好白名单</li>
          <li>3. MemCache服务可以为本地安装（使用宝塔可以一键安装），也可以是云端，例如：阿里云的【云数据库MemCache】产品，开箱即用</li>
          <li>4. 请确保服务端php.ini已经启用了 php_memcache.dll/php_memcached.dll 拓展，如果没有该拓展，需要自行编译安装</li>
          <li class="red">5. !!!如果配置后导致网站无法访问，请打开文件根目录/frontend/web/data/config.php 删除节点【cache】</li>
        </ul>
      </div>
      <div class="flexigrid">
        <form method="post">
          <table class="infoTable">
            <tr>
              <th class="paddingT15"><label>{$lang.hostname}</label></th>
              <td class="paddingT15 wordSpacing5"><input id="hostname" type="text" name="hostname"
                  value="{$memcache.hostname|default:'localhost'}" class="infoTableInput" />
                <label class="field_notice">{$lang.hostname_desc}</label>
              </td>
            </tr>
            <tr>
              <th class="paddingT15"><label>{$lang.port}</label></th>
              <td class="paddingT15 wordSpacing5"><input id="port" type="text" name="port"
                  value="{$memcache.port|default:'11211'}" class="infoTableInput" />
                <label class="field_notice">{$lang.port_desc}</label>
              </td>
            </tr>
            <tr>
              <th class="paddingT15"><label>{$lang.extension_v}</label></th>
              <td class="paddingT15 wordSpacing5">
                <select name="useMemcached">
                  <option value="1">MemCached（PHP >= 7）</option>
                  <option value="0">MemCache（PHP5）</option>
                </select>
              </td>
            </tr>
            <tr>
              <th class="paddingT15"><label>{$lang.status}</label></th>
              <td class="paddingT15 layui-form">
                <input type="radio" name="status" value="1" title="{$lang.enable}" {if $memcache}checked{/if} />
                <input type="radio" name="status" value="0" title="{$lang.close}" {if !$memcache}checked{/if} />
              </td>
            </tr>
            <tr>
              <th></th>
              <td class="ptb20"><input class="layui-btn layui-bg-blue J_AjaxSubmit" confirm="请正确配置后再提交，以免造成网站无法访问！！" type="submit"
                  value="{$lang.submit}" /></td>
            </tr>
          </table>
        </form>
      </div>
      {include file="version.html"}
    </div>
  </div>
</div>
{include file="footer.html"}