{include file="header.html"}
<div id="main">
	{include file="menus.html"}
	<div id="rightCon" class="clearfix layui-body">
		<div class="scroller">
			<div class="search-form clearfix">
				<form method="get" id="formSearch">
					<div class="webkit-box box-align-center">
						<input type="hidden" name="r" value="deposit/drawlist" />
						<select class="querySelect" name="field">
							{html_options options=$search_options selected=$smarty.get.field}
						</select>
						<input class="infoTableInput mr10" type="text" name="search_name"
							value="{$smarty.get.search_name}" />
						<label>{$lang.trade_status}</label>
						<select class="querySelect" name="status">
							<option value="">{$lang.no_limit}</option>
							{html_options options=$status_list selected=$smarty.get.status}
						</select>
						{$lang.amount_from}
						<input class="queryInput2" type="text" value="{$smarty.get.amount_from}" name="amount_from" />
						{$lang.to}
						<input class="queryInput2" type="text" value="{$smarty.get.amount_to}" name="amount_to"
							class="pick_date" />
					</div>
					<div class="webkit-box box-align-center mt20">
						{$lang.add_time_from}
						<input class="queryInput" type="text" value="{$smarty.get.add_time_from}" id="add_time_from"
							name="add_time_from" class="pick_date" />
						{$lang.to}
						<input class="queryInput" type="text" value="{$smarty.get.add_time_to}" id="add_time_to"
							name="add_time_to" class="pick_date" />

						<input type="submit" class="layui-btn layui-bg-blue layui-btn-sm block width7"
							value="{$lang.query}" />
						<!--{if $filtered}-->
						<a class="layui-btn layui-btn-primary layui-btn-sm box-align-center"
							href="{url route='deposit/drawlist'}">{$lang.cancel_query}</a>
						<!--{/if}-->
					</div>
				</form>
			</div>
			<div class="tablegrid">
				<table class="layui-hide" id="tablegrid" lay-filter="tablegrid"></table>
			</div>
			{include file="version.html"}
		</div>
	</div>
</div>
<script type="text/html" id="toolbar">
	<div class="layui-btn-container">
		<button class="layui-btn layui-bg-blue" lay-event="verify"><i class="layui-icon layui-icon-edit"></i>审核提现</button>
		<button class="layui-btn layui-btn-primary layui-border-black" lay-event="export"><i class="layui-icon layui-icon-export"></i>导出数据</button>
	</div>
</script>

<script>
	layui.use('table', function () {
		var table = layui.table;

		table.render({
			elem: '#tablegrid'
			//,skin: 'line'
			, url: url(['deposit/drawlist', $("#formSearch").serializeJson()])
			, toolbar: '#toolbar'
			, defaultToolbar: ['filter', /*'exports',*/ 'print']
			, title: '提现记录'
			//, size: 'lg'
			, cols: [[
				{ type: 'checkbox', fixed: 'left' }
				, { field: 'draw_id', title: 'ID', width: 70, fixed: 'left', unresize: true, sort: true }
				, { field: 'tradeNo', title: '交易号', width: 200, sort: true, }
				, { field: 'orderId', title: '商户订单号', width: 200, sort: true }
				, { field: 'amount', title: '提现金额（元）', width: 160, sort: true }
				, { field: 'username', title: '提现者', width: 110, sort: true }
				, { field: 'card_info', title: '提现到', width: 410, sort: true }
				, { field: 'add_time', title: '创建时间', width: 180, sort: true, align: 'center' }
				, { field: 'end_time', title: '完成时间', width: 180, sort: true, align: 'center' }
				, { fixed: 'right', field: 'status', title: '状态', width: 160, sort: true }
			]]
			, page: {
				theme: 'blue'
			}
		});

		//监听头工具栏事件
		table.on('toolbar(tablegrid)', function (obj) {
			var checkStatus = table.checkStatus(obj.config.id);
			if (checkStatus.data.length <= 0) {
				return false;
			}
			var items = new Array();
			$.each(checkStatus.data, function (i, item) {
				items.push(item.draw_id);
			});
			if (obj.event === 'verify') {
				if (items.length > 1) {
					return layer.msg('仅支持选择一条记录进行操作！')
				}
				drawverify(items[0], checkStatus.data[0].card_info, table);
			}
			else if (obj.event === 'export') {
				window.location.href = url(['deposit/export', $.extend($("#formSearch").serializeJson(), { id: items.join(','), model: 'draw' })]);
			}
		});
	});

	$(function () {
		$('#add_time_from').datepicker({ dateFormat: 'yy-mm-dd' });
		$('#add_time_to').datepicker({ dateFormat: 'yy-mm-dd' });

	});
	function drawverify(id, content, table) {
		layer.confirm('请认真核对提现信息，在点击“同意”前，请确保已将实际款项转账至提现者账户：' + content, { btn: [lang.agree, lang.refuse] }, function (index) {
			$.ajaxSettings.async = false;
			$.getJSON(url(['deposit/drawverify']), { id: id }, function (data) {
				if (data.done) {
					layer.close(index);
					layer.msg(data.msg);
					table.reload('tablegrid');
				} else {
					layer.close(index);
					layer.msg(data.msg);
					table.reload('tablegrid');
				}
			});
		}, function (index) {
			layer.prompt({
				formType: 2,
				value: '',
				title: lang.refuse_reason
			}, function (value, index, elem) {
				$.ajaxSettings.async = false;
				$.getJSON(url(['deposit/drawrefuse']), { id: id, remark: value }, function (data) {
					if (data.done) {
						layer.close(index);
						layer.msg(data.msg);
						table.reload('tablegrid');
					} else {
						layer.close(index);
						layer.msg(data.msg);
						table.reload('tablegrid');
					}
				});
			});
		});
	}
</script>
{include file="footer.html"}