{include file="header.html"}
<div id="main">
	{include file="menus.html"}
	<div id="rightCon" class="clearfix layui-body">
		<div class="scroller">
			<div class="search-form clearfix">
				<form method="get" id="formSearch">
                <div class="webkit-box box-align-center">
					<input type="hidden" name="r" value="guideshop/index" />
					{$lang.owner}
					<input class="queryInput" type="text" name="owner" value="{$smarty.get.owner|escape}" />
					{$lang.phone_mob}
					<input class="queryInput" type="text" name="phone_mob" value="{$smarty.get.phone_mob|escape}" />
					{$lang.name}
					<input class="infoTableInput ml10 mr10" type="text" name="name" value="{$smarty.get.name|escape}" />
					<label>{$lang.status}</label>
					<select name="status" class="querySelect">
						<option value="" {if $smarty.get.status eq ''} selected{/if}>{$lang.no_limit}</option>
						<option value="1" {if $smarty.get.status eq '1'} selected{/if}>{$lang.open}</option>
						<option value="2" {if $smarty.get.status eq '2'} selected{/if}>{$lang.close}</option>
					</select>
					<input type="submit" class="layui-btn layui-bg-blue layui-btn-sm block width7" value="{$lang.query}" />
					<!--{if $filtered}-->
					<a class="layui-btn layui-btn-primary layui-btn-sm box-align-center" href="{url route='guideshop/index'}">{$lang.cancel_query}</a>
					<!--{/if}-->
                    </div>
				</form>
			</div>
			<div class="tablegrid">
				<table class="layui-hide" id="tablegrid" lay-filter="tablegrid"></table>
			</div>
			{include file="version.html"}
		</div>
	</div>
</div>
<script type="text/html" id="toolbar">
	<div class="layui-btn-container">
		<button class="layui-btn layui-bg-blue" lay-event="batdel"><i class="layui-icon layui-icon-close"></i>批量删除</button>
		<button class="layui-btn layui-btn-primary layui-border-black" lay-event="export"><i class="layui-icon layui-icon-export"></i>导出数据</button>
	</div>
</script>

<script>
	layui.use('table', function () {
		var table = layui.table;

		table.render({
			elem: '#tablegrid'
			//,skin: 'line'
			, url: url(['guideshop/index', $("#formSearch").serializeJson()])
			, toolbar: '#toolbar'
			, defaultToolbar: ['filter', /*'exports',*/ 'print']
			, title: '团长门店'
			//, size: 'lg'
			, cols: [[
				{ type: 'checkbox', fixed: 'left' }
				, { field: 'id', title: 'ID', width: 70, fixed: 'left', unresize: true, sort: true }
				, { field: 'owner', title: '团长姓名', width: 200 }
				, { field: 'phone_mob', title: '团长电话', width: 200 }
				, { field: 'name', title: '门店名称', width: 160 }
				, { field: 'address', title: '门店地址', width: 300 }
				, { field: 'guider_rate', title: '团长返佣比率', width: 160, sort: true }
				, { field: 'created', title: '申请时间', width: 180, sort: true, align: 'center' }
				, { fixed: 'right', field: 'status', title: '状态', width: 160, sort: true }
			]]
			, page: {
				theme: 'blue'
			}
		});

		//监听头工具栏事件
		table.on('toolbar(tablegrid)', function (obj) {
			var checkStatus = table.checkStatus(obj.config.id);
			if (checkStatus.data.length <= 0) {
				return false;
			}
			var items = new Array();
			$.each(checkStatus.data, function (i, item) {
				items.push(item.id);
			});
			if (obj.event === 'export') {
				window.location.href = url(['guideshop/export', $.extend($("#formSearch").serializeJson(), { id: items.join(',') })]);
			}
		});
	});
</script>
{include file="footer.html"}