{include file="header.html"}
<div id="main">
	{include file="menus.html"}
	<div id="rightCon" class="clearfix layui-body">
		<div class="scroller">
			<div class="search-form clearfix">
				<form method="get" id="formSearch">
					<div class="webkit-box box-align-center">
						<input type="hidden" name="r" value="recommend/index" />
						{$lang.recom_name}
						<input class="queryInput" type="text" name="recom_name"
							value="{$smarty.get.recom_name|escape}" />
						<input type="submit" class="layui-btn layui-bg-blue layui-btn-sm block width7"
							value="{$lang.query}" />
						<!--{if $filtered}-->
						<a class="layui-btn layui-btn-primary layui-btn-sm box-align-center"
							href="{url route='recommend/index'}">{$lang.cancel_query}</a>
						<!--{/if}-->
					</div>
				</form>
			</div>
			<div class="tablegrid">
				<table class="layui-hide" id="tablegrid" lay-filter="tablegrid"></table>
			</div>
			{include file="version.html"}
		</div>
	</div>
</div>
<script type="text/html" id="toolbar">
	<div class="layui-btn-container">
		<a class="layui-btn layui-bg-blue" uri="{url route='recommend/add'}" ectype="dialog" dialog_id="dialog" dialog_title="新增类型" dialog_width="500"><i class="layui-icon layui-icon-addition"></i>新增类型</a>
		<button class="layui-btn layui-btn-primary layui-border-blue" lay-event="batdel"><i class="layui-icon layui-icon-close"></i>批量删除</button>
	</div>
</script>

<script type="text/html" id="colBar">
	<a class="ml5 mr5 blue pointer" lay-event="edit">编辑</a>
	<a class="ml5 mr5 blue pointer" lay-event="del" confirm="删除后将不能恢复，确认删除该项吗？">删除</a>
	<a class="ml5 mr5 blue pointer" lay-event="view">查看商品</a>
</script>
<script>
	layui.use('table', function () {
		var table = layui.table;

		table.render({
			elem: '#tablegrid'
			//,skin: 'line'
			, url: url(['recommend/index', $("#formSearch").serializeJson()])
			, toolbar: '#toolbar'
			, defaultToolbar: ['filter', /*'exports',*/ 'print']
			, title: '推荐类型'
			//, size: 'lg'
			, cols: [[
				{ type: 'checkbox', fixed: 'left' }
				, { field: 'recom_id', title: 'ID', width: 70, fixed: 'left', unresize: true, sort: true }
				, { field: 'recom_name', title: '推荐类型', width: 610, edit: 'text' }
				, { field: 'goods_count', title: '商品数量', width: 323, sort: true }
				, { fixed: 'right', title: '操作', toolbar: '#colBar', width: 200, align: 'center' }
			]]
			, page: {
				theme: 'blue'
			}
		});

		//监听头工具栏事件
		table.on('toolbar(tablegrid)', function (obj) {
			var checkStatus = table.checkStatus(obj.config.id);
			if (checkStatus.data.length <= 0) {
				return false;
			}
			var items = new Array();
			$.each(checkStatus.data, function (i, item) {
				items.push(item.recom_id);
			});

			if (obj.event === 'batdel') {
				var btnObj = $('[lay-event="' + obj.event + '"]');
				btnObj.attr('confirm', '删除后将不能恢复，确认删除这 ' + items.length + ' 项吗？');
				ajaxRequest(btnObj, url(['recommend/delete', { id: items.join(',') }]), function () {
					table.reload('tablegrid');
				});
			}
		});

		//监听行工具事件
		table.on('tool(tablegrid)', function (obj) {
			var data = obj.data;

			if (obj.event === 'edit') {
				ajax_form('dialog', '编辑类型', url(['recommend/edit', { id: data.recom_id }]), 500);
			}
			else if (obj.event === 'del') {
				var btnObj = $(obj.tr).find('[lay-event="' + obj.event + '"]');
				ajaxRequest(btnObj, url(['recommend/delete', { id: data.recom_id }]), function () {
					obj.del();
				});
			}
			else if (obj.event === 'view') {
				window.location.href = url(['recommend/goods', { id: data.recom_id }]);
			}
		});

		//监听行单元格编辑事件
		table.on('edit(tablegrid)', function (obj) {
			var fieldObj = $(obj.tr).find('[data-field="' + obj.field + '"]');
			ajaxRequest(fieldObj, url(['recommend/editcol', { id: obj.data.recom_id, column: obj.field, value: obj.value }]), function () {
				obj.update();
			});
		});
	});
</script>
<iframe id="iframe" name="iframe" src="about:blank" frameborder="0" width="0" height="0" style="display:none"></iframe>
{include file="footer.html"}