{include file="header.html"}
<div id="main">
  {include file="menus.html"}
  <div id="rightCon" class="clearfix layui-body">
    <div class="scroller">
      <div class="flexigrid">
        <div class="layui-btn-container">
          <a href="javascript:;" ectype="dialog" dialog_id="dialog" dialog_width="600"
          dialog_title="新增地区" uri="{url route='region/add'}" class="layui-btn layui-bg-blue"><i class="layui-icon layui-icon-addition"></i>新增地区</a>
          <a class="layui-btn layui-btn-primary layui-border-blue J_BatchDel" confirm="{$lang.drop_confirm}" uri="{url route='region/delete'}" name="id"><i
            class="layui-icon layui-icon-close"></i>批量删除</a>
        </div>
        <table class="distinction">
          <!--{if $regions}-->
          <thead>
            <tr class="tatr1">
              <th class="w30"><input id="checkall" type="checkbox" class="checkall" /></th>
              <th width="50%" align="left"><label for="checkall" >{$lang.region_name}</label></th>
              <th>{$lang.sort_order}</th>
              <th>{$lang.if_show}</th>
              <th class="handler">{$lang.handler}</th>
            </tr>
          </thead>
          <!--{/if}-->
          <!-- {if $regions} -->
          <tbody id="treet1">
            <!-- {/if} -->
            <!--{foreach from=$regions item=region}-->
            <tr>
              <td class="align_center w30"><input type="checkbox" class="checkitem" value="{$region.region_id}" /></td>
              <td class="node" width="50%">
                <!--{if $region.switchs}--><i class="layui-icon layui-icon-addition" ectype="flex" controller="region" status="open"
                  fieldid="{$region.region_id}"></i>
                <!--{else}--><i class="tv-item"></i>
                <!--{/if}--><span ectype="inline_edit" fieldname="region_name"
                  fieldid="{$region.region_id}" required="1" title="{$lang.editable}"
                  controller="region">{$region.region_name|escape}<i class="layui-icon layui-icon-edit layui-font-14 layui-font-blue"></i></span>
              </td>
              <td class="align_center"><span ectype="inline_edit" fieldname="sort_order"
                  fieldid="{$region.region_id}" datatype="number" title="{$lang.editable}"
                  controller="region">{$region.sort_order}<i class="layui-icon layui-icon-edit layui-font-14 layui-font-blue"></i></span></td>
              <td class="align_center">
                <!--{if $region.if_show}--><i class="layui-icon layui-icon-ok layui-font-blue" ectype="inline_edit" fieldname="if_show"
                  fieldid="{$region.region_id}" fieldvalue="1" title="{$lang.editable}" controller="region"></i>
                <!--{else}--><i class="layui-icon layui-icon-ok layui-font-gray" ectype="inline_edit" fieldname="if_show"
                  fieldid="{$region.region_id}" fieldvalue="0" title="{$lang.editable}" controller="region"></i>
                <!--{/if}-->
              </td>
              <td class="handler bDiv" style=" background:none; width:230px; text-align:right;"><a
                ectype="dialog" dialog_id="dialog" dialog_width="500"
                dialog_title="{$lang.edit}" uri="{url route='region/edit' id=$region.region_id}" class="btn blue"><i
                    class="layui-icon layui-icon-edit layui-font-12"></i>{$lang.edit}</a> <a
                  uri="{url route='region/delete' id=$region.region_id}" confirm="{$lang.drop_confirm}"
                  class="btn red J_AjaxRequest"><i class="layui-icon layui-icon-close layui-font-12"></i>{$lang.drop}</a> <a
                  ectype="dialog" dialog_id="dialog" dialog_width="500"
                dialog_title="{$lang.add_child}" uri="{url route='region/add' pid=$region.region_id}" class="btn green"><i
                    class="layui-icon layui-icon-add-1 layui-font-12"></i>{$lang.add_child}</a></td>
            </tr>
            <!--{foreachelse}-->
            <tr class="no_data">
              <td colspan="5">{$lang.no_data}</td>
            </tr>
            <!--{/foreach}-->
            <!-- {if $regions} -->
          </tbody>
          <!-- {/if} -->
        </table>
      </div>
      {include file="version.html"}
    </div>
  </div>
</div>
<iframe id="iframe" name="iframe" src="about:blank" frameborder="0" width="0" height="0" style="display:none"></iframe>
{include file="footer.html"}