<div id="footer">
  <div class="global-nav global-nav-current">
    <div class="global-nav__nav-wrap">
      <div class="global-nav__nav-item"> <a class="global-nav__nav-link current"><i
            class="iconfont global-nav__icon-index icon-home"></i> <span
            class="global-nav__nav-tit">{$lang.home}</span></a> </div>
      <div class="global-nav__nav-item"> <a class="global-nav__nav-link"><i
            class="iconfont global-nav__icon-category icon-fenlei11"></i> <span
            class="global-nav__nav-tit">{$lang.category}</span></a> </div>
      <div class="global-nav__nav-item"> <a class="global-nav__nav-link"><i
            class="iconfont global-nav__icon-shop-cart icon-gouwuche"></i> <span
            class="global-nav__nav-tit">{$lang.cart}</span></a> </div>
      <div class="global-nav__nav-item"> <a class="global-nav__nav-link"><i
            class="iconfont global-nav__icon-my-yhd icon-my"></i> <span
            class="global-nav__nav-tit">{$lang.my}</span></a> </div>
    </div>
  </div>
  {$statistics_code}
</div>
{$_foot_tags|default}
</body>
</html>