{include file="header.html"}
<style>
#main{ background:#f9f9f9}
#footer{ margin-top:0;}
</style>
<div id="main" class="w-full">
<div id="page-article" class="w pb20 pt20 clearfix">
   <div class="col-sub">
	  <div class="title">{$lang.acategory}</div>
	  <ul class="content mb10">
	     <!-- {foreach from=$acategories item=acategory} -->
         <li><a href="{url route='article/index' cate_id=$acategory.cate_id}">{$acategory.cate_name|escape}</a><b></b></li>
         <div class="child">
         	<!-- {foreach from=$acategory.children item=children} -->
            <p><a href="{url route='article/index' cate_id=$children.cate_id}">{$children.cate_name|escape}</a></p>
            <!-- {/foreach} -->
         </div>
         <!-- {/foreach} -->
	  </ul>
   </div>
   <div class="col-main">
      <ul class="content">
      	 <li class="title">{$category.cate_name|default:{$lang.new_article}}</li>
	     <!-- {foreach from=$articles item=article} -->
	     <li class="clearfix"><a {if $article.link}target="_blank"{/if} href="{url route='article/view' id=$article.article_id}" class="float-left">> {$article.title|escape}</a> <span class="float-right">[ {$article.add_time|date_format:"%Y.%m.%d"} ]</span></li>
		 <!-- {foreachelse} -->
		 <li>{$lang.no_records}</li>
		 <!-- {/foreach} -->
	  </ul>
	 <div class="mt20 clearfix center">{include file="page.bottom.html"}</div>
   </div>
</div>
</div>
{include file="footer.html"}