{include file="header.html"}
<div id="main" class="w-full">
<div id="page-category" class="w mt10">
	<div class="w" area="top" widget_type="area">
		{widgets page='scategory' area='top'}
	</div>
	<div class="scategory w mt10">
        <div class="search-type mb10 clearfix">
			<div class="float-left btn-type">
				<a href="{url route='category/index'}">{$lang.gcategory}</a>
				<a href="{url route='category/store'}" class="current">{$lang.scategory}</a>	
			</div>                       
		</div>
		<!--{foreach from=$scategories item=scategory}-->
		<dl class="content mb10">
			<dt class="fs14"><a href="{url route='search/store' cate_id=$scategory.id}">{$scategory.value|escape}</a></dt>
			<dd>
				<!--{foreach from=$scategory.children item=child}-->
				<a href="{url route='search/store' cate_id=$child.id}">{$child.value|escape}</a>
				<!--{/foreach}-->
			</dd>
		</dl>
		<!--{/foreach}-->   
	</div>
</div>
</div>
{include file="footer.html"}
