{include file="header.html"}
<link href="{res file='css/channel.style2.css'}" rel="stylesheet" type="text/css" />
<div id="page-channel">
	<div class="col-1 w clearfix">
		<div class="col-1-left" area="col-1-left" widget_type="area"> 
    		{widgets page='153653207731' area='col-1-left'}
		</div>
    	<div class="col-1-right" area="col-1-right" widget_type="area" >
    		{widgets page='153653207731' area='col-1-right'}
 		</div>
  	</div>
  	<div class="col-2 w" area="col-2" widget_type="area">
  		{widgets page='153653207731' area='col-2'}
	</div>
</div>
{include file="footer.html"} 