{include file="user.header.html"}
<div id="main" class="clearfix"> {include file="user.menu.html"}
  <div id="right"> {include file="user.curlocal.html"}
    <div class="wrapful">{include file="user.submenu.html"}
      <div class="wrap">
        <div class="public table deposit">
          <div class="deposit-withdraw-confirm">
            <div class="notice-word">
              <p>转入成功后，对方会立即收到账款</p>
            </div>
            <form method="post">
              <div class="title"> 确认转账信息 </div>
              <div class="form">
                <div class="confirm-info">
                  <dl class="clearfix">
                    <dt>收款人信息：</dt>
                    <dd><input type="hidden" name="account" value="{$party.account}" /> <strong>{$party.real_name}</strong> {$party.account} </dd>
                  </dl>
                  <dl class="clearfix">
                    <dt>转账金额：</dt>
                    <dd><input type="hidden" name="money" value="{$transfer.money}" /> <span class="money">{$transfer.money}</span> 元 </dd>
                  </dl>
                  <!--{if $transfer.fee gt 0}-->
                  <dl class="clearfix">
                    <dt>手续费：</dt>
                    <dd> <span>{$transfer.fee}</span> 元 </dd>
                  </dl>
                  <!--{/if}--> 
                </div>
                <div class="confirm-form">
                  <dl class="clearfix">
                    <dt>支付密码：</dt>
                    <dd>
                      <input type="password" name="password" class="text" value="" />
                    </dd>
                  </dl>
                  <dl class="clearfix">
                    <dt>验证码：</dt>
                    <dd class="captcha">
                      <input type="text" name="captcha" class="text" id="captcha1" />
                      <a href="javascript:;" class="float-left"><img onclick="change_captcha($(this))" id="captcha" src="{url route='default/captcha' v=uniqid('', true)}" class="float-left" height="38" /></a> </dd>
                  </dl>
                  <dl class="clearfix">
                    <dt>&nbsp;</dt>
                    <dd class="submit"> <span class="btn-alipay">
                      <input type="submit" value="确认转账" />
                      </span> </dd>
                  </dl>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{include file="user.footer.html"} 