{include file="top.html"} 
<div id="main" class="w-full">
	<div id="page-find-password" class="w-full page-auth mt20 mb20">
		<div class="wrap">
			<div class="w logo mt10"> <a href="{$siteUrl}" title="{$app->params['site_title']}"><img height="60" alt="{$app->params['site_title']}" src="{$app->params['site_logo']|url_format}" /></a> </div>
			<div class="form clearfix w">
				<div class="password_box">
					<div class="flowsteps">
						<ol class="num4 J_Step">
							<li class="done"><span class="first">1.输入账户名</span></li>
							<li class="done"><span>2.验证身份</span></li>
							<li class="current"><span>3.重置密码</span></li>
							<li class="next"><span>4.完成</span></li>
						</ol>
					</div>
				</div>
				<form id="set_password_form" method="post" class="w">
					<div class="w">
						<dl class="clearfix">
							<dt>{$lang.new_password}</dt>
							<dd class="clearfix">
								<input type="password" class="input" name="password" id="password" value="" />
								<i class="i-psw"></i> </dd>
						</dl>
						<dl class="clearfix">
							<dt>{$lang.confirm_password}</dt>
							<dd>
								<input type="password" class="input" name="confirmPassword" id="confirmPassword" value="" />
								<i class="i-psw"></i>
							</dd>
						</dl>
						<dl class="clearfix">
							<dt>&nbsp;</dt>
							<dd>
								<input type="submit" value="{$lang.submit}" class="fp-submit J_AjaxSubmit" title="{$lang.submit}" />
							</dd>
						</dl>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{include file="footer.html"}