{include file="install.header.html"}
<div id="main" class="w">
  <div class="success">
    <div class="title">恭喜您！安装已全部完成</div>
    <div class="content bgf padding10">
      <div class="padding10">
        <p class="padding10 fs16" style="line-height: 30px;">
          现在，您可以使用系统了，如有任何问题，都可以到我们的官方技术论坛发帖，我们会有专门的技术人员解答。您可以通过以下快捷入口进入相关页面。
        </p>
        <p class="pt20 pl10 fs16">
          授权查询：<a href="https://www.shopwind.net/product/authorize.html" target="_blank"
            class="blue">https://www.shopwind.net/product/authorize.html</a></p>
        <p class="pt10 pl10 mb10 fs16">商城运营：<a href="https://www.shopwind.net/product/guide.html" target="_blank"
            class="blue">https://www.shopwind.net/product/guide.html</a>
        </p>
      </div>
      <div class="btn-box mt20">
        <a class="btn-normal inline-block mr10" href="{$homeUrl}">商城首页</a>
        <a class="btn-normal inline-block mr10 ml10" href="{url route='buyer/index'}">买家中心</a>
        <a class="btn-normal inline-block mr10 ml10" href="{url route='seller/index'}">商家中心</a>
        <a class="btn-normal inline-block ml10" href="{$homeUrl}/admin">平台后台</a>
      </div>

    </div>
  </div>
</div>
{include file="install.footer.html"}