{include file="user.header.html"}
<div id="main" class="clearfix"> {include file="user.menu.html"}
  <div id="right"> {include file="user.curlocal.html"}
    <div class="wrapful">{include file="user.submenu.html"}
      <div class="wrap">
        <div class="public_index table">
          <table>
            <!--{if $msgLogs}-->
            <tr class="line gray">
              <th class="align2">{$lang.to_mobile}</th>
              <th>{$lang.content}</th>
              <th class="align2">{$lang.quantity}</th>
              <th class="align2">{$lang.time}</th>
              <th class="align2">{$lang.state}</th>
            </tr>
            <!--{/if}--> 
            <!-- {foreach from=$msgLogs item=log name=v} -->
            <tr class="{if $smarty.foreach.v.last}line_bold{else}line{/if}">
              <td class="align2">{$log.receiver}</td>
              <td>{$log.content|escape}</td>
              <td class="align2">{$log.quantity}</td>
              <td class="align2">{$log.time|date_format:"%Y.%m.%d %H:%M:%S"}</td>
              <td class="align2">{if $log.status}{$lang.send_success}{else}{$lang.send_failed}{/if}</td>
            </tr>
            <!-- {foreachelse} -->
            <tr>
              <td colspan="5"><div class="notice-word">
                  <p>{$lang.no_records}</p>
                </div></td>
            </tr>
            <!--{/foreach}--> 
            <!--{if $msgLogs}-->
            <tr>
              <td colspan="5">
              	<div class="mt10 clearfix center">{include file="page.bottom.html"}</div></td>
            </tr>
            <!--{/if}-->
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{include file="user.footer.html"} 