{include file="user.header.html"}
<div id="main" class="clearfix"> {include file="user.menu.html"}
  <div id="right"> {include file="user.curlocal.html"}
    <div class="wrapful">{include file="user.submenu.html"}
      <div class="wrap">
        <div class="eject_btn" title="{$lang.add_address}"><b class="ico1" ectype="dialog" dialog_title="{$lang.add_address}" dialog_id="my_address_add" dialog_width="600" uri="{url route='my_address/add' redirect=$smarty.get.redirect}">{$lang.add_address}</b></div>
        <div class="public table">
          <table>
           
            <tr class="gray line tr_color">
              <th>{$lang.consignee}</th>
              <th>{$lang.region}</th>
              <th class="width3">{$lang.address}</th>
              <th>{$lang.zipcode}</th>
              <th class="width5">{$lang.phone}</th>
              <th>{$lang.handle}</th>
            </tr>
           
            <!--{foreach from=$addressList item=address}-->
            <tr class="{if $smarty.foreach.v.last}line_bold{else}line{/if} tr_align">
              <td>{$address.consignee|escape}{if $address.defaddr}<font color="#3366CC">（默认）</font>{/if}</td>
              <td>{$address.region_name|escape}</td>
              <td>{$address.address|escape}</td>
              <td>{$address.zipcode|escape}</td>
              <td>{$address.phone_tel} / {$address.phone_mob}</td>
              <td><a href="javascript:void(0);" ectype="dialog" dialog_id="my_address_edit" dialog_title="{$lang.edit_address}" dialog_width="700" uri="{url route='my_address/edit' addr_id=$address.addr_id}" class="edit1 float_none">{$lang.edit}</a> <a uri="{url route='my_address/delete' addr_id=$address.addr_id}" confirm="{$lang.drop_confirm}" class="J_AjaxRequest delete float_none">{$lang.drop}</a></td>
            </tr>
            <!--{/foreach}-->
            <!--{if $addressList}-->
            <tr>
            	<td colspan="6"><div class="mt20 clearfix center">{include file="page.bottom.html"}</div></td>
            </tr>
             <!--{else}-->
            <tr>
              <td colspan="6"><div class="notice-word">
                  <p>{$lang.{$app->controller->action->id}}{$lang.no_records}</p>
                </div></td>
            </tr>
            <!--{/if}-->
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<iframe id="iframe" name="iframe" src="about:blank" frameborder="0" width="0" height="0" style="display:none"></iframe>
{include file="user.footer.html"}