{include file="header.html"}
<style type="text/css">
.mall-nav{ display:none}
</style>
<div id="main" class="w-full">
<div id="page-order" class="w">
   <div class="step step2 mt10 clearfix">
      <span class="fs14 f60">{$lang.ckgwc}</span>
      <span class="fs14 fff">{$lang.qrddxx}</span>
      <span class="fs14">{$lang.fk}</span>
      <span class="fs14">{$lang.qrsh}</span>
      <span class="fs14">{$lang.pj}</span>
   </div>
   <div class="order-form">
      <form method="post" id="order_form">
	     {include file="order.shipping.html"}
         {include file="order.goods.html"}
         {include file="order.postscript.html"}
	     {include file="order.amount.html"}
      </form>
   </div>
</div>
</div>
<iframe id="iframe" name="iframe" src="about:blank" frameborder="0" width="0" height="0" style="display:none"></iframe>
{include file="footer.html"}