{include file="user.header.html"}
<div id="main" class="clearfix"> {include file="user.menu.html"}
  <div id="right"> {include file="user.curlocal.html"}
    <div class="wrapful">{include file="user.submenu.html"}
      <div class="wrap">
        <div class="public"> 
          <!--{if $refundlist}-->
          <table id="refund-list" border="0" cellpadding="0" cellspacing="0">
            <tr class="thead">
              <td width="80">退款编号</td>
              <td width="140" class="pl10">订单号/宝贝信息</td>
              <td width="110">卖家</td>
              <td width="80">交易金额</td>
              <td width="80">退款总额</td>
              <td width="100">申请时间</td>
              <td width="100">退款状态</td>
              <td width="75">操作</td>
            </tr>
            <!--{foreach from=$refundlist item=refund}-->
            <tr class="tbody">
              <td>{$refund.refund_sn}</td>
              <td>{$refund.order_sn}<br />
                <a href="{url route='buyer_order/view' order_id=$refund.order_id}" target="_blank">{$refund.title}</a></td>
              <td><a href="{url route='store/index' id=$refund.seller_id}" target="_blank">{$refund.store_name}</a></td>
              <td>{$refund.total_fee}</td>
              <td>{$refund.refund_total_fee}</td>
              <td style="color:gray">{$refund.created|date_format:"%Y.%m.%d %H:%M:%S"}</td>
              <td style="color:#FF4F01"> {$refund.status_label} 
                <!--{if !in_array($refund.status, ['CLOSED', 'SUCCESS']) && $refund.intervene}-->
                <div style="color:#62B44B">（客服已介入处理）</div>
                <!--{/if}--></td>
              <td><a href="{url route='refund/view' id=$refund.refund_id}">查看</a> {if !in_array($refund.status,['SUCCESS','CLOSED'])}
                | <a href="{url route='refund/edit' id=$refund.refund_id}">修改</a> {/if} </td>
            </tr>
            <!--{/foreach}-->
          </table>
          <div class="order_form_page mt10">
            <div class="page center">{include file="page.bottom.html"}</div>
          </div>
          <!--{else}-->
          <div class="notice-word">
            <p>{$lang.no_records}</p>
          </div>
          <!--{/if}-->
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{include file="user.footer.html"} 