{include file="user.header.html"}
<div id="main" class="clearfix"> {include file="user.menu.html"}
  <div id="right"> {include file="user.curlocal.html"}
    <div class="wrapful"> {include file="user.submenu.html"}
      <div class="wrap">
        <div class="public setting">
          <h3 class="ml10 mb10">账号安全</h3>
          <dl class="clearfix">
            <dt>用户头像</dt>
            <dd> 
              <!--{if $visitor.portrait}--> 
              <span class="ok"><i></i></span> 
              <!--{else}--> 
              <span class="error f60"><a href="{url route='user/profile'}">去上传</a></span> 
              <!--{/if}--> 
            </dd>
          </dl>
          <dl class="clearfix">
            <dt>手机号码</dt>
            <dd> 
              <!--{if $visitor.phone_mob}--> 
              <span class="ok"><i></i></span> 
              <!--{else}--> 
              <span class="error f60"><a href="{url route='user/phone'}">去绑定</a></span> 
              <!--{/if}--> 
            </dd>
          </dl>
          <dl class="clearfix">
            <dt>电子邮箱</dt>
            <dd> 
              <!--{if $visitor.phone_mob}--> 
              <span class="ok"><i></i></span> 
              <!--{else}--> 
              <span class="error f60"><a href="{url route='user/email'}">去绑定</a></span> 
              <!--{/if}--> 
            </dd>
          </dl>
          <dl class="clearfix">
            <dt>资金账户</dt>
            <dd> 
              <!--{if $deposit_account.account}--> 
              <span class="ok"><i></i></span> 
              <!--{else}--> 
              <span class="error f60"><a href="{url route='deposit/config'}">去设置</a></span> 
              <!--{/if}--> 
            </dd>
          </dl>
          <dl class="clearfix">
            <dt>支付密码</dt>
            <dd> 
              <!--{if $deposit_account.password}--> 
              <span class="ok"><i></i></span> 
              <!--{else}--> 
              <span class="error f60"><a href="{url route='deposit/config'}">去设置</a></span> 
              <!--{/if}--> 
            </dd>
          </dl>
          <div class="line"></div>
          <h3 class="ml10 mt10 mb10">社交账号登录</h3>
          <!--{foreach from=$binds item=item}-->
          <dl class="clearfix">
            <dt>{$item.name}</dt>
            <dd> 
              <!--{if $item.enabled}--> 
              <span class="ok"><i></i></span> 
              <!--{else}--> 
              <span class="error f60"><a href="{url route='connect/index'}">未绑定</a></span> 
              <!--{/if}--> 
            </dd>
          </dl>
          <!--{/foreach}--> 
        </div>
      </div>
    </div>
  </div>
</div>
{include file="user.footer.html"} 