<div id="footer" class="w-full member-footer">
  <div class="foot-group w clearfix center">
    <div class="footnav">
      <ul class="clearfix">
        <li class="float-left"><a href="https://www.shopwind.net" target="_blank">联系我们</a><span>|</span></li>
        <li class="float-left"><a href="https://www.shopwind.net" target="_blank">公司简介</a><span>|</span></li>
        <li class="float-left"><a href="https://www.shopwind.net" target="_blank">支付方式</a><span>|</span></li>
        <li class="float-left"><a href="https://www.shopwind.net" target="_blank">法律条款</a><span>|</span></li>
        <li class="float-left"><a href="https://www.shopwind.net" target="_blank">合作代理</a><span>|</span></li>
        <li class="float-left last"><a href="https://www.shopwind.net" target="_blank">友情链接</a></li>
      </ul>
      <div class="copy">
        <p>Copyright &copy; 2015-2021 <a href="https://www.shopwind.net" class="ml5 mr5">SHOPWIND.NET</a> 版权所有 <!--{if $icp_number}--><a href="https://beian.miit.gov.cn" target="_blank">{$icp_number}</a><!--{/if}--> 常年法律顾问：广西百纳律师事务所 TEL: 010-555888</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{lib file='layui/layui.js' }" charset="{$app->charset}"></script>
<script type="text/javascript" src="{lib file='jquery.plugins/SuperSlide/jquery.SuperSlide.2.1.2.js'}" charset="{$app->charset}"></script>
<script type="text/javascript" src="{lib file='shopwind.js'}" charset="{$app->charset}"></script>
{$_foot_tags|default}
<script type="text/javascript" src="{res file='js/global.js'}" charset="{$app->charset}"></script>
<script type="text/javascript" src="{lib file='user.js'}" charset="{$app->charset}"></script>
{$statistics_code}
</body>
</html>